CompileFlags:
  Add:
    - "--target=x86_64-w64-mingw32"
    - "--gcc-toolchain=D:/Dev-Cpp/MinGW64"

---
If:
  PathMatch: .*\.c$
CompileFlags:
  Add:
    - "-std=c11"

---
If:
  PathMatch: .*\.(cpp|cc|cxx)$
CompileFlags:
  Add:
    - "-std=c++17"

Diagnostics:
  Suppress:
    - "drv_unknown_argument"
  UnusedIncludes: None
  MissingIncludes: None

Index:
  Background: Build

Hover:
  ShowAKA: Yes

InlayHints:
  Enabled: Yes
  ParameterNames: Yes
  DeducedTypes: Yes

Completion:
  AllScopes: Yes
